<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @theme.title %>
</p>

<p>
  <strong>Demo link:</strong>
  <%= @theme.demo_link %>
</p>

<p>
  <strong>Download link:</strong>
  <%= @theme.download_link %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
