<!-- Footer -->
<footer class="w3-container w3-color" style="background-color:#0a0d15;">
  <div class="w3-center" style="color:white;">
    <p><b><i class="fa fa-envelope"></i>&nbsp &nbspP.O.Box 1231 - 00232 RUIRU</b></p>
    <p style="color:#25bdd6;"><i>Copyright &copy; 2019 RuiruTech -All Rights Reserved.</i></p>
  </div>
</footer>

<!-- Script -->
<script src="assets/javascripts/js/main.js"></script>