<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-color-2 w3-card">
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-left" title="Home" style="color:#ffff;">
      <b><i class="fa fa-home"></i></b>
    </a>
    <a href="contacts" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right" style="color:white;"><b><i class="fa fa-envelope"></i> CONTACT</b></a>
    <a href="abouts" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right" style="color:#070e1d;"><b><i class="fa fa-th"></i> ABOUT</b></a>

    <!-- Bars -->
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" style="color:#070e1d;" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><b><i class="fa fa-bars"></i></b></a>
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px; background-color: #070e1d">
  <a href="details" class="w3-bar-item w3-button w3-padding-large" style="color:white;" onclick="myFunction()"><b>MORE</b></a>
  <a href="abouts" class="w3-bar-item w3-button w3-padding-large" style="color:white;" onclick="myFunction()"><b>ABOUT</b></a>
  <a href="contacts" class="w3-bar-item w3-button w3-padding-large" style="color:white;" onclick="myFunction()"><b>CONTACT</b></a>
</div>

<div class="w3-container" style="padding-top: 52px;">
  <!-- Logo -- Upper Left Content -->
  <i class="w3-wide" title="RuiruTech logo" style="padding-left: 3.5%;">
    <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" class="w3-image" src="assets/logo.png" width="200">
  </i>

  <!-- Upper Right-sided Content links -->
  <div class="w3-right w3-padding-16 w3-hide-small" style="margin:auto">
    <a class="w3-button w3-round-large w3-large" onclick="joinWhatsappgroup()" href="javascript:void(0)" title="Join Our Whatsapp Group" style="background-color:#3cb753; color: #ffff;"><i class="fa fa-whatsapp"></i></a>
    
    <a class="w3-button w3-round-large w3-large" onclick="followTwitter()" href="javascript:void(0)" title="Follow Us On Twitter" style="background-color:#25bdd6; color: #ffff;"><i class="fa fa-twitter"></i></a>
  </div>
</div>

</nav>
