<!-- Content Container -->
<div class="w3-container w3-padding-16 w3-theme-l5 w3-light-grey">
  <div class="w3-col m5 w3-hide-small" style="background-color: #25bdd6; margin-left: 30%;">
    <div class="w3-padding-16 w3-center">
      <span class="w3-xlarge w3-text-black"><b>Are You Attending The Event??</b></span>
    </div>
    <h5 class="w3-center" style="color: #070e1d;"><i>Please Confirm!!</i></h5>
    <%= form_for Event.new, url: {action: "create"}, html: {class: "w3-container w3-padding-16 w3-white"} do |f| %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" style="color: #13a726;"><%= value %></div>
      <% end %>
      <div class="w3-section"> 
        <%= f.text_field :username, class: 'w3-input', placeholder: 'UserName'%>
      </div>
      <div class="w3-section">      
        <%= f.text_field :email, class: 'w3-input', placeholder: 'Email'%>
      </div>
      <div class="w3-row w3-padding-32 w3-text-grey">
        <h4>Confirm Attendance!!</h4>
        <div class="w3-half">
          <i><%= f.radio_button :confirm, "1" %> <%= f.label :confirm, "Yes" %></i>
        </div>
        <div class="w3-half">
          <i><%= f.radio_button :confirm, "0" %> <%= f.label :confirm, "No" %></i>
        </div>
      </div>
      <button type="submit" class="w3-button w3-round-large w3-theme fa fa-user" style="background-color: #07879c; color: #ffff"> RSVP</button>
    <% end %>
  </div>
</div>

<div class="w3-container w3-padding-16 w3-theme-l5 w3-light-grey">
  <div class="w3-col m5 w3-hide-medium w3-hide-large" style="background-color: #25bdd6;">
    <div class="w3-padding-16 w3-center">
      <span class="w3-xlarge w3-text-black"><b>Are You Attending The Event??</b></span>
    </div>
    <h5 class="w3-center" style="color: #070e1d;"><i>Please Confirm!!</i></h5>
    <%= form_for Event.new, url: {action: "create"}, html: {class: "w3-container w3-padding-16 w3-white"} do |f| %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" style="color: #13a726;"><%= value %></div>
      <% end %>
      <div class="w3-section"> 
        <%= f.text_field :username, class: 'w3-input', placeholder: 'UserName'%>
      </div>
      <div class="w3-section">      
        <%= f.text_field :email, class: 'w3-input', placeholder: 'Email'%>
      </div>
      <div class="w3-row w3-padding-32 w3-text-grey">
        <h4>Confirm Attendance!!</h4>
        <div class="w3-half">
          <i><%= f.radio_button :confirm, "1" %> <%= f.label :confirm, "Yes" %></i>
        </div>
        <div class="w3-half">
          <i><%= f.radio_button :confirm, "0" %> <%= f.label :confirm, "No" %></i>
        </div>
      </div>
      <button type="submit" class="w3-button w3-round-large w3-theme fa fa-user" style="background-color: #07879c; color: #ffff"> RSVP</button>
    <% end %>
  </div>
</div>

<!-- Table Section -->
<div class="w3-container w3-padding-32 w3-theme-l5 w3-white">
  <h3 class="w3-center">People Attending The Event</h3>
  <table class="w3-table-all w3-hide-small" style="width:80%; margin-left: 10%;">
    <tr style="background-color: #25bdd6;">
      <th><b>Username</b></th>
      <th><b>Email</b></th>
      <th><b>Status</b></th>
      <th><b>Change Status</b></th>
    </tr>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.username %></td>
          <td><%= event.email %></td> 
          <td>
            <% if event.confirm == true %>
              <b class="w3-text-green fa fa-check"> Confirmed</b>
            <% elsif event.confirm == nil %>
              <b class="w3-text-grey fa fa-stop-circle"> No Choice Made!</b>
            <% else %>
              <b class="w3-text-indigo fa fa-times"> Not Confirmed!</b>
            <% end %>
          </td>
          <td>
            <% if event.confirm == false %>
              <%= form_with(model: event, local: true) do |form| %>
                <div class="checkbox_field">
                  <%= form.check_box :confirm, checked: true %>
                </div>
                <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff">Confirm?</button>
              <% end %>
            <% elsif event.confirm == nil %>
              <%= form_with(model: event, local: true) do |form| %>
                <div class="checkbox_field">
                  <%= form.check_box :confirm, checked: true %>
                </div>
                <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #b8436d; color: #ffff">Make A Choice!</button>
              <% end %>
            <% else %>
              <%= form_with(model: event, local: true) do |form| %>
                <div class="checkbox_field">
                  <%= form.check_box :confirm, checked: false %>
                </div>
                <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #292d2e; color: #ffff">Unconfirm?</button>
              <% end %>
            <% end %>
          </td>      
        </tr> 
      <% end %>
    </tbody>
  </table>

  <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable w3-hide-medium w3-hide-large">
    <tr style="background-color: #25bdd6;">
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><i><%= event.username %></i></td>
          <td><i><%= event.email %></i></td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>
