<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @event.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event.email %>
</p>

<p>
  <strong>Confirm:</strong>
  <%= @event.confirm %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
