<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:100%">
  <div class="w3-display-container">
    <img src="assets/contact_banner.png" alt="Contact Image" class="w3-image w3-opacity w3-hover-opacity-off" style="min-height: 100%;background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="w3-display-middle w3-padding-large w3-border w3-round-xlarge w3-wide w3-text-white w3-center w3-hide-small">
      <h2><b>CONTACT</b></h2>
    </div>

    <div class="w3-display-middle w3-border w3-round-large w3-wide w3-text-white w3-center w3-hide-medium w3-hide-large">
      <h4><b>CONTACT</b></h4>
    </div>
  </div>
</header>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5 w3-light-grey">

  <div class="w3-padding-16 w3-right"><span class="w3-xlarge border-color">Contact Us</span></div>

  <div class="w3-row">
    <div class="w3-col m5">
      <h3><b>Address</b></h3>
      <h5><i class="fa fa-map-marker w3-xlarge" style="color: #07879c;"></i>&nbsp&nbsp <i class="w3-text-blue-grey">Ruiru, Kenya 1231-00232</i></h5>
      <h5><i class="fa fa-envelope-o w3-xlarge" style="color: #07879c;"></i>&nbsp&nbsp <i class="w3-text-blue-grey">e37@ruirutech.com</i></h5>
    </div>
    <div class="w3-col m7">
      <h5 class="w3-text-blue-grey"><i>Be free to make any enquiry or comment...</i></h5>
      <%= form_for Contact.new, url: {action: "create"}, html: {class: "w3-container w3-card-4 w3-padding-16 w3-white"} do |f| %>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>" style="color: #13a726;"><%= value %></div>
        <% end %>
        <div class="w3-section">      
          <label style="color: #07879c;">Email</label>
          <%= f.text_field :email, class: 'w3-input'%>
        </div>
        <div class="w3-section">      
          <label style="color: #07879c;">Message</label>
          <%= f.text_area :message, class: 'w3-input'%>
        </div>  
        <button type="submit" class="w3-button w3-round-large w3-right w3-theme fa fa-paper-plane" style="background-color: #07879c; color: #ffff;"> Send</button>
      <% end %>
    </div>
  </div>
</div>
