<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:100%;">
  <div class="w3-display-container">
    <img src="assets/home_banner.png" alt="Home Image" class="w3-image w3-opacity w3-hover-opacity-off" style="min-height: 100%;background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">

    <!-- Info Section medium & large screens -->
    <div class="w3-display-middle w3-border w3-round-xlarge w3-wide w3-opacity w3-text-white w3-center w3-hide-small" style="background-color:#0a0d15; padding-left: 15px; padding-right: 15px;">
      <h4><b class="w3-hide-medium" style="color: #25bdd6;">RuiruTech...One Step At A Time</b></h4>
      <h5><b><i>The Tech Community</i></b></h5>
        <a href="details" class="w3-button w3-round-large w3-ripple w3-dark-grey"><i class="fa fa-info-circle"></i><b> MORE</b></a>
        <a href="members" class="w3-button w3-round-large w3-ripple" style="background-color: #25bdd6; color: #ffff;"><i class="fa fa-users"></i><b> JOIN</b></a>
      </p>
    </div>

    <div class="w3-display-middle w3-border w3-round-large w3-opacity w3-text-white w3-center w3-hide-large w3-hide-medium" style="background-color:#0a0d15; padding-left: 5px; padding-right: 5px;">
      <p><b><i>Are You Into Tech?</i></b></p>
      <p>
        <a href="members" class="w3-button w3-round-large w3-ripple" style="background-color: #25bdd6; color: #ffff;"><i class="fa fa-users"></i> <b>JOIN THE COMMUNITY</b></a>
      </p>
    </div>
  </div>
</header>

<!-- body content -->
<div class="w3-container w3-content w3-padding-16">
  <div class="w3-centre">
    <div class="w3-container" style="background-color:#0a0d15; color: #ffff; ">
      <h4 class="link-hovered"><i class="fa fa-newspaper-o w3-margin-right"></i><b>Check On The Latest News & Upcoming Events <i class="fa fa-hand-o-down"></i></b></h4>
    </div>
  </div>
</div>

<div class="w3-container w3-padding-16 w3-light-grey">
  <div class="w3-card w3-margin">
    <% @homes.each do |home| %>
      <div class="w3-row">
        <div class="w3-third w3-center w3-hover-grayscale" style="background-color: #07879c;">
          <h5 style="color: #ffff;"><b>Event:</b></h5>
          <p style="color: #070e1d;"><b><%= home.event %></b></p>
        </div>
        <div class="w3-third w3-center">
          <h5 style="color: #07879c;"><b>Date & Time:</b></h5>
          <p style="color: #070e1d;"><i><%= home.date_time %></i></p>
        </div>
        <div class="w3-third w3-center w3-color-2 w3-hover-grayscale w3-margin-bottom">
          <h5 style="color: #ffff;"><b>Venue:</b></h5>
          <p style="color: #070e1d;"><i><%= home.venue %></i></p>
        </div>
      </div>

      <div class="w3-display-container w3-padding-16 w3-center w3-light-grey">
        <h4 style="color: #07879c;"><b>Info:</b></h4>
        <ul class="w3-theme-border" style="list-style:none">
          <li style="color: #070e1d;"><h5><%= home.body %></h5></li>
        </ul>
      </div>
    <% end %>
  </div><br>

  <div class="level_6">
    <form action="events">
      <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff"><i class="fa fa-thumbs-o-up w3-margin-right"></i> RSVP</button>
    </form> 
  </div><br><br><br>

  <div class="w3-bar w3-border w3-round">
    <a href="#" class="w3-button">&#10094; Previous</a>
    <a href="#" class="w3-button w3-right">Next &#10095;</a>
  </div>
</div>
