<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @home.event %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @home.date_time %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @home.venue %>
</p>

<p>
  <strong>Body:</strong>
  <%= @home.body %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
