<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:100%;">
  <div class="w3-display-container">
    <img src="assets/about_banner.png" alt="About Image" class="w3-image w3-opacity w3-hover-opacity-off" style="min-height: 100%;background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">

    <div class="w3-display-middle w3-padding-large w3-border w3-round-xlarge w3-wide w3-text-white w3-center w3-hide-small">
      <h2><b>ABOUT</b></h2>
    </div>

    <div class="w3-display-middle w3-border w3-round-large w3-wide w3-text-white w3-center w3-hide-medium w3-hide-large">
      <h4><b>ABOUT</b></h4>
    </div>
  </div>
</header>

<!-- Content -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-right w3-border w3-round-xlarge w3 wide" style="background-color:#070e1d; padding-left: 15px; padding-right: 15px;">
      <img src="assets/falls_pic.png" class="w3-circle" style="width:50%" alt="Elly Ambet">
      <p class="w3-padding-16 w3-text-light-grey">
        <b><i>RuiruTech</i></b><br>
        <i>One step at a time...</i><br>
        <b class="fa fa-twitter"></b> <i>@RuiruTech</i>
        <b class="fa fa-github"></b> <i>github.com/ruirutech</i>
      </p>
      <p class="w3-padding-16" style="color:#25bdd6;">
        <b class="fa fa-microphone"></b> <b>"...If you bring a group of smart people to a room for the porpose of coming up with numerous mind blowing ideas, you will not be disappointed. When you embark on bringing these ideas to life, that will be a challenging expedition. Only the ones which are successfully excecuted are valuable. This proves that an idea in itself isn't valuable..."<br> "...Simple ideas that are brought to excecution are worth more than brilliant ideas that have never been worked on..."</b>
      </p>
    </div>
    <div class="w3-twothird" style="color:#070e1d;">
      <% @abouts.each do |about| %>
        <h3><b><%= about.title %></b></h3>
        <h5 class="w3-padding-32"><%= about.body %></h5>
      <% end %>
    </div>
  </div>
</div>
