body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

.w3-color
{
  background: #070e1d;
}

.w3-color-2
{
  background: #07879c;
}

.border-color {
  border-bottom: 5px solid #07879c;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.link-hovered:hover {
  color: #25bdd6;
}

.checkbox_field {
    display: none;
}
