<div class="w3-container w3-theme-l5 w3-light-grey w3-padding-16">
  <div style="margin-left: 5%; margin-right: 5%;">
    <div class="w3-card-4 w3-margin w3-white w3-hide-small" style="width:95%;">
      <div class="w3-display-container w3-center w3-padding-64" style="background-color: #25bdd6;">
        <h3 class="w3-text-black"><b>Details About Us & What's Expected Of Our Members</b></h3>
      </div>

      <div class="w3-padding-64" style="margin-left: 5%; margin-right: 5%;">
        <h5 class="w3-text-black"><i>Wanna code, develop your simple idea from scratch to completion?? Join our community!! You'll receive the guidance & motivation in all your development endevours. Peace of mind is also guaranteed. Team work is encouraged. Developers/Problem solvers love to link up with each other. Here is a perfect platform.</i></h5>
        <h5 class="w3-text-black"><i>This community is meant for a programmer/developer, who has a passion in coding or design. Anyone be it a student/freelancer who is dealing in front-end, back-end or fullstack web or native app development and is open to learning from others or team work is welcome.</i></h5>
      </div>

      <div class="w3-row w3-padding-32">
        <div class="w3-third w3-center w3-padding-32">
          <div class="fa fa-folder-open fa-3x" style="color: #25bdd6;"></div><br><br>
          <form action="tutorials">
            <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff">Tutorials</button>
          </form>
        </div>
        <div class="w3-third w3-center w3-padding-32">
          <div class="fa fa-share-square fa-3x" style="color: #25bdd6;"></div><br><br>
          <form action="themes">
            <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff">Themes</button>
          </form>
        </div>
        <div class="w3-third w3-center w3-padding-32 w3-margin-bottom">
          <div class="fa fa-users fa-3x" style="color: #25bdd6;"></div><br><br>
          <form action="members">
            <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff">Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-left: 0%; margin-right: 8%;">
    <div class="w3-card-4 w3-margin w3-white w3-hide-large w3-hide-medium" style="width:100%;">
      <div class="w3-display-container w3-center w3-padding-16" style="background-color: #25bdd6;">
        <h3 class="w3-text-black"><b>Details About Us & What's Expected Of Our Members</b></h3>
      </div>

      <div class="w3-padding-16" style="margin-left: 5%; margin-right: 5%;">
        <h5 class="w3-text-black"><i>Wanna code, develop your simple idea from scratch to completion?? Join our community!! You'll receive the guidance & motivation in all your development endevours. Peace of mind is also guaranteed. Team work is encouraged. Developers/Problem solvers love to link up with each other. Here is a perfect platform.</i></h5>
        <h5 class="w3-text-black"><i>This community is meant for a programmer/developer, who has a passion in coding or design. Anyone be it a student/freelancer who is dealing in front-end, back-end or fullstack web or native app development and is open to learning from others or team work is welcome.</i></h5>
      </div>

      <div class="w3-row w3-padding-16">
        <div class="w3-third w3-center w3-padding-16">
          <div class="fa fa-folder-open fa-3x" style="color: #25bdd6;"></div><br><br>
          <form action="tutorials">
            <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff">Tutorials</button>
          </form>
        </div>
        <div class="w3-third w3-center w3-padding-16">
          <div class="fa fa-share-square fa-3x" style="color: #25bdd6;"></div><br><br>
          <form action="themes">
            <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff">Themes</button>
          </form>
        </div>
        <div class="w3-third w3-center w3-padding-16 w3-margin-bottom">
          <div class="fa fa-users fa-3x" style="color: #25bdd6;"></div><br><br>
          <form action="members">
            <button type="submit" class="w3-button w3-round-large w3-theme" style="background-color: #07879c; color: #ffff">Community</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
