<!-- Content Container -->
<div class="w3-container w3-padding-64 w3-theme-l5 w3-light-grey">
  <div class="w3-col m5 w3-hide-small" style="background-color: #25bdd6; margin-left: 30%;">
    <div class="w3-padding-16 w3-center">
      <span class="w3-xlarge w3-text-black"><b>Join Our Community</b></span>
    </div>

    <h5 class="w3-center" style="color: #070e1d;"><i>Join the community and receive direct communication and be part of us...</i></h5>
    <%= form_for Member.new, url: {action: "create"}, html: {class: "w3-container w3-padding-16 w3-white"} do |f| %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" style="color: #13a726;"><%= value %></div>
      <% end %>
      <div class="w3-section"> 
        <%= f.text_field :username, class: 'w3-input', placeholder: 'UserName'%>
      </div>
      <div class="w3-section">      
        <%= f.text_field :email, class: 'w3-input', placeholder: 'Email'%>
      </div>
      <button type="submit" class="w3-button w3-round-large w3-theme fa fa-user" style="background-color: #07879c; color: #ffff"> Join</button>
    <% end %>
  </div>

  <div class="w3-col m5 w3-hide-medium w3-hide-large" style="background-color: #25bdd6;">
    <div class="w3-padding-16 w3-center">
      <span class="w3-xlarge w3-text-black"><b>Join Our Community</b></span>
    </div>

    <h5 class="w3-center" style="color: #070e1d;"><i>Join the community and receive direct communication and be part of us...</i></h5>
    <%= form_for Member.new, url: {action: "create"}, html: {class: "w3-container w3-padding-16 w3-white"} do |f| %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" style="color: #13a726;"><%= value %></div>
      <% end %>
      <div class="w3-section"> 
        <%= f.text_field :username, class: 'w3-input', placeholder: 'UserName'%>
      </div>
      <div class="w3-section">      
        <%= f.text_field :email, class: 'w3-input', placeholder: 'Email'%>
      </div>
      <button type="submit" class="w3-button w3-round-large w3-theme fa fa-user" style="background-color: #07879c; color: #ffff"> Join</button>
    <% end %>
  </div>
</div>
